
@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<style>
    html {
        box-sizing: border-box
    }

    .image-item {
        position: relative;
    }

        .image-item button {
            position: absolute;
            top: 0px;
            right: 0px;
        }

    tbody td {
        padding: 0px !important;
    }

        tbody td:first-child {
            padding: 5px !important;
        }
</style>
<div class="form-add">
    <h5>Thêm mới sản phẩm</h5>
    <form class="form-input">
        <div class="row">
            <div class="col-md-9 row">
                <div class="form-group col-md-6">
                    <label class="col-form-label">Tên sản phẩm</label>
                    <div>
                        <input type="hidden" name="Id" id="Id" value="0">
                        <input class="form-control validation" type="text" id="Name" name="Name" placeholder="Nhập tên sản phẩm của bạn">
                        <span class="help-block"></span>
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label class="col-form-label">Tên điều hướng</label>
                    <div>
                        <input class="form-control validation" type="text" id="Slug" name="Slug" placeholder="Tên url của bạn">
                        <span class="help-block"></span>
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label class="col-form-label">Tên nhãn hàng</label>
                    <div>
                        <select class="form-control validation" name="BrandId">
                            <option value="0">Chọn loại nhãn hàng</option>
                            @foreach (var item in ViewBag.brand as IEnumerable<ClothesStore.Model.Model.EF.Brand>)
                            {
                                <option value="@item.Id">@item.Name</option>
                            }
                        </select>
                        <span class="help-block"></span>
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label class="col-form-label">Loại sản phẩm</label>
                    <div>
                        <select class="form-control validation" name="CategoryId">
                            <option value="0">Chọn loại sản phẩm</option>
                            @foreach (var item in ViewBag.category as IEnumerable<ClothesStore.Model.Model.EF.Category>)
                            {
                                <option value="@item.Id">@item.Name</option>
                            }
                        </select>
                        <span class="help-block"></span>
                    </div>
                </div>
                <div class="form-group col-md-12">
                    <label class="col-form-label">Số thứ tự hiển thị</label>
                    <div>
                        <input class="form-control validation" type="number" name="OrderBy" placeholder="Nhập Số thự hiển thị">
                        <span class="help-block"></span>
                    </div>
                </div>

                <div class="form-group col-md-12">
                    <label class="col-form-label">Mô tả</label>
                    <div>
                        <textarea class="form-control validation" name="Description" rows="5"></textarea>
                        <span class="help-block"></span>
                    </div>
                </div>

                <div class="form-group col-md-12">
                    <label class="col-form-label">Nội dung chi tiết</label>
                    <div>
                        <textarea class="form-control validation ckeditor" rows="5" name="Content" id="Content"></textarea>
                        <span class="help-block"></span>
                    </div>
                </div>

                <div class="col-md-12 col-form-label">
                    <div class="form-check form-check-inline mr-1">
                        <input class="form-check-input" checked id="inline-radio1" type="radio" value="True" name="Status">
                        <label class="form-check-label" for="inline-radio1">Hoạt động</label>
                    </div>
                    <div class="form-check form-check-inline mr-1">
                        <input class="form-check-input" id="inline-radio2" type="radio" value="False" name="Status">
                        <label class="form-check-label" for="inline-radio2">Khóa</label>
                    </div>
                </div>

                <!--Cấu hình sản phẩm -->

                <div class="col-md-5">
                    <select class="form-control" id="Size">
                        <option value="0">Chọn kích thước</option>
                        @foreach (var item in ViewBag.size as IEnumerable<ClothesStore.Model.Model.EF.Size>)
                        {
                            <option value="@item.Id">@item.Name</option>
                        }
                    </select>
                </div>

                <div class="col-md-5">
                    <select class="form-control" id="Color">
                        <option value="0">Chọn màu sắc</option>
                        @foreach (var item in ViewBag.color as IEnumerable<ClothesStore.Model.Model.EF.Color>)
                        {
                            <option data-value="@item.Value" value="@item.Id">@item.Name</option>
                        }
                    </select>
                </div>
                <div class="col-md-2">
                    <button class="btn btn-square btn-outline-info w-100" type="button" onclick="ConfigProduct()">Cấu hình</button>
                </div>
                <div class="col-md-12 mt-3">
                    <table class="table-config table table-bordered">
                        <thead>
                            <tr>
                                <th>Kích thước</th>
                                <th>Màu sắc</th>
                                <th>Số lượng</th>
                                <th>Đơn giá</th>
                                <th>Tác vụ</th>
                            </tr>
                        </thead>
                        <tbody>
                            @*<tr>
                                    <td>S</td>
                                    <td style="background:#000"></td>
                                    <td><input type="number" min="0" value="1" class="form-control" /></td>
                                    <td><input type="number" min="0" value="1" class="form-control" /></td>
                                </tr>*@
                        </tbody>
                    </table>
                </div>


                <div class="col-md-12 d-flex justify-content-end mt-3">
                    <button type="button" class="btn btn-square btn-danger">Quay lại</button>
                    <button type="button" class="btn btn-square btn-success ml-2" onclick="Add()">Thêm mới</button>
                </div>
            </div>
            <div class="col-md-3">
                <input type="text" hidden name="Image" value="~/Image/Static/no-image.jpg" id="Image" />
                <img src="~/Image/Static/no-image.jpg" class="img-size img-fluid" onclick="OpenFolderImage()" style="object-fit:contain" />

                <div class="list-image">
                    <div class="d-flex flex-wrap h-100 mt-2">
                    </div>
                    <div class="mt-2">
                        <button type="button" class="btn btn-square btn-success" onclick="OpenFolderImageList()">Thêm ảnh</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

@section scripts{
    <script src="~/lib/ckeditor/ckeditor.js"></script>
    <script src="~/js/AdminCommon.js"></script>
    <script>
        $(document).ready(function () {
            ConvertToSlug();
            $('select').select2();
        })
        function Add() {
            if (ValidationInput()) {  // kiểm tra dữ liệu đầu vào
                // read data in form
                let formArray = $('form.form-input').serializeArray();
                var object = {};
                jQuery.map(formArray, function (n, i) {
                    object[n.name] = n.value;
                });
                $('.form-input textarea').each(function (index, item) {
                    if ($(this).hasClass('ckeditor') || $(this).hasClass('p-ckeditor')) {
                        let id = $(this).attr('id');
                        object[$(this).attr('name')] = CKEDITOR.instances[id].getData();
                    }
                })

                // get image
                let images = [];
                $('.list-image img').each(function (i, e) {
                    let obj = {
                        Id: 0,
                        ProductId: 0,
                        Image: $(e).attr('src')
                    }
                    images.push(obj);
                })

                let config = [];
                $('.table-config tbody tr').each(function (i, e) {
                    let sizeId = $(e).children('td:first-child').attr('data-size');
                    let colorId = $(e).children('td:nth-child(2)').attr('data-color');
                    let stock = $(e).children('td:nth-child(3)').children('input').val();
                    let price = $(e).children('td:nth-child(4)').children('input').val();
                    let obj = {
                        Id: 0,
                        ProductId: 0,
                        SizeId: sizeId,
                        ColorId: colorId,
                        Stock: stock,
                        Price: price
                    }
                    config.push(obj)
                })

                console.log(object);
                console.log(images);
                console.log(config);
                swal({
                    title: $('#Id').val() == 0 ? "Bạn có chắc chắn muốn thêm" : "Bạn có chắc muốn sửa dữ liệu này?",
                    text: $('#Id').val() == 0 ? "" : "Sau khi sửa thì không thể quay lại!",
                    icon: "warning",
                    buttons: true,
                    dangerMode: true,
                }).then((willDelete) => {
                    if (willDelete) {
                        $.ajax({
                            url: '/Admin/Product/AddOrUpdate',
                            type: 'post',
                            dataType: 'json',
                            //contentType: 'application/json',
                            data:{
                                obj: object,
                                images: images,
                                config: config
                            },
                           
                            beforeSend: function () {
                            },
                            success: function (res) {
                                if (res) {
                                    swal('Bạn đã thêm dữ liệu thành công !!');
                                }
                            },
                            error: function (error) {

                            },
                            complete: function () {
                            }
                        })
                    }
                })
            }
        }

        function ConfigProduct() {
            let pickColor = $('#Color').find(':selected');
            let pickSize = $('#Size').find(':selected');

            let colorId = $(pickColor).attr('value');
            let colorName = $(pickColor).attr('data-value');

            let sizeId = $(pickSize).attr('value');
            let sizeName = $(pickSize).text();

            if (sizeId > 0 && colorId > 0) {
                let check = true;
                $('.table-config tbody tr').each(function (i, e) {
                    if ($(e).children('td:first-child').attr('data-size') == sizeId && $(e).children('td:nth-child(2)').attr('data-color') == colorId) {
                        check = false;
                    }
                })
                if (check) {
                    let row = `<tr>
        <td data-size = "${sizeId}">${sizeName}</td>
        <td data-color = "${colorId}" style="background:${colorName}"></td>
        <td><input type="number" min="0" value="1" class="form-control" /></td>
        <td><input type="number" min="0" value="1" class="form-control" /></td>
        <td style="text-align:center"><button class=" btn btn-sm btn-square btn-danger" onclick="RemoveConfig(this)" type="button"><i class="bi bi-trash"></i></button></td>
    </tr>`;
                    $('.table-config tbody').append(row);
                }
                else {
                    swal("Cấu hình này bạn đã chọn!");
                }

            }
            else {
                swal("Bạn cần chọn màu sắc và kích thước!");
            }
        }

        function RemoveConfig(el) {
            swal({
                title: "Xóa dữ liệu này?",
                text: "Dữ liệu xóa sẽ không thể khôi phục!",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            }).then((willDelete) => {
                if (willDelete) {
                    $(el).parent().parent().remove();
                }
            })
        }
    </script>
}