
@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<style>
    html {
        box-sizing: border-box
    }

    .image-item {
        position: relative;
    }

        .image-item button {
            position: absolute;
            top: 0px;
            right: 0px;
        }
</style>
<div class="form-add">
    <h5>Thêm mới sản phẩm</h5>
    <form class="form-input">
        <div class="row">
            <div class="col-md-9 row">
                <div class="form-group col-md-6">
                    <label class="col-form-label">Tên sản phẩm</label>
                    <div>
                        <input type="hidden" name="Id" id="Id" value="0">
                        <input class="form-control validation" type="text" id="Name" name="Name" placeholder="Nhập tên sản phẩm của bạn">
                        <span class="help-block"></span>
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label class="col-form-label">Tên điều hướng</label>
                    <div>
                        <input class="form-control validation" type="text" id="Slug" name="Slug" placeholder="Tên url của bạn">
                        <span class="help-block"></span>
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label class="col-form-label">Tên nhãn hàng</label>
                    <div>
                        <select class="form-control validation" name="BrandId">
                            <option value="0">Chọn loại nhãn hàng</option>
                            @foreach (var item in ViewBag.brand as IEnumerable<ClothesStore.Model.Model.EF.Brand>)
                            {
                                <option value="@item.Id">@item.Name</option>
                            }
                        </select>
                        <span class="help-block"></span>
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label class="col-form-label">Loại sản phẩm</label>
                    <div>
                        <select class="form-control validation" name="CategoryId">
                            <option value="0">Chọn loại sản phẩm</option>
                            @foreach (var item in ViewBag.category as IEnumerable<ClothesStore.Model.Model.EF.Category>)
                            {
                                <option value="@item.Id">@item.Name</option>
                            }
                        </select>
                        <span class="help-block"></span>
                    </div>
                </div>
                <div class="form-group col-md-12">
                    <label class="col-form-label">Số thứ tự hiển thị</label>
                    <div>
                        <input class="form-control validation" type="number" name="OrderBy" placeholder="Nhập Số thự hiển thị">
                        <span class="help-block"></span>
                    </div>
                </div>

                <div class="form-group col-md-12">
                    <label class="col-form-label">Mô tả</label>
                    <div>
                        <textarea class="form-control validation" name="Description" rows="5"></textarea>
                        <span class="help-block"></span>
                    </div>
                </div>

                <div class="form-group col-md-12">
                    <label class="col-form-label">Nội dung chi tiết</label>
                    <div>
                        <textarea class="form-control validation ckeditor" rows="5" name="Content" id="Content"></textarea>
                        <span class="help-block"></span>
                    </div>
                </div>

                <div class="col-md-12 col-form-label">
                    <div class="form-check form-check-inline mr-1">
                        <input class="form-check-input" checked id="inline-radio1" type="radio" value="True" name="Status">
                        <label class="form-check-label" for="inline-radio1">Hoạt động</label>
                    </div>
                    <div class="form-check form-check-inline mr-1">
                        <input class="form-check-input" id="inline-radio2" type="radio" value="False" name="Status">
                        <label class="form-check-label" for="inline-radio2">Khóa</label>
                    </div>
                </div>

                <!--Cấu hình sản phẩm -->

                <div class="col-md-12 row">
                    <div class="col-md-5">
                        <select class="form-control validation" name="CategoryId">
                            <option value="0">Chọn loại sản phẩm</option>
                            @foreach (var item in ViewBag.category as IEnumerable<ClothesStore.Model.Model.EF.Category>)
                            {
                                <option value="@item.Id">@item.Name</option>
                            }
                        </select>
                    </div>

                    <div class="col-md-5">
                        <select class="form-control validation" name="CategoryId">
                            <option value="0">Chọn loại sản phẩm</option>
                            @foreach (var item in ViewBag.category as IEnumerable<ClothesStore.Model.Model.EF.Category>)
                            {
                                <option value="@item.Id">@item.Name</option>
                            }
                        </select>
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-square btn-outline-info">Thêm mới</button>
                    </div>
                </div>

                <div class="col-md-12 d-flex justify-content-end mt-3">
                    <button type="button" class="btn btn-square btn-danger">Quay lại</button>
                    <button type="button" class="btn btn-square btn-success ml-2" onclick="Add()">Thêm mới</button>
                </div>
            </div>
            <div class="col-md-3">
                <input type="text" hidden name="Image" value="~/Image/Static/no-image.jpg" id="Image" />
                <img src="~/Image/Static/no-image.jpg" class="img-size img-fluid" onclick="OpenFolderImage()" style="object-fit:contain" />

                <div class="list-image">
                    <div class="d-flex flex-wrap h-100 mt-2">
                    </div>
                    <div class="mt-2">
                        <button type="button" class="btn btn-square btn-success" onclick="OpenFolderImageList()">Thêm ảnh</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

@section scripts{
    <script src="~/lib/ckeditor/ckeditor.js"></script>
    <script src="~/js/AdminCommon.js"></script>
    <script>
        $(document).ready(function () {
            ConvertToSlug();
            $('select').select2();
        })
        function Add() {
            if (ValidationInput()) {  // kiểm tra dữ liệu đầu vào
                // read data in form
                let formArray = $('form.form-input').serializeArray();
                var object = {};
                jQuery.map(formArray, function (n, i) {
                    object[n.name] = n.value;
                });
                $('.form-input textarea').each(function (index, item) {
                    if ($(this).hasClass('ckeditor') || $(this).hasClass('ckeditor')) {
                        let id = $(this).attr('id');
                        object[$(this).attr('name')] = CKEDITOR.instances[id].getData();
                    }
                })

                // get image
                let images = [];
                $('.list-image img').each(function (i, e) {
                    let obj = {
                        BuildingForRentId: 0,
                        Image: $(e).attr('src')
                    }
                    images.push(obj);
                })

                // get list utiliti
                let utilities = [];
                let services = $('.select-service').val();
                $(services).each(function (index, item) {
                    let utiliti = {
                        Id: 0,
                        BuildingForRentId: 0,
                        UtilitiId: item
                    };
                    utilities.push(utiliti);
                })
                swal({
                    title: $('#Id').val() == 0 ? "Bạn có chắc chắn muốn thêm" : "Bạn có chắc muốn sửa dữ liệu này?",
                    text: $('#Id').val() == 0 ? "" : "Sau khi sửa thì không thể quay lại!",
                    icon: "warning",
                    buttons: true,
                    dangerMode: true,
                }).then((willDelete) => {
                    if (willDelete) {
                        $.ajax({
                            url: '/Lessor/BuildingForRent/AddOrUpdate',
                            type: 'post',
                            dataType: 'json',
                            contentType: 'application/json',
                            data: JSON.stringify({
                                obj: object,
                                images: images,
                                utilities: utilities
                            }),
                            beforeSend: function () {
                            },
                            success: function (res) {
                                if (res.success) {
                                    alert("ok")
                                }
                                else {
                                    if (res.error != null) {
                                        $('.help-block').css('display', 'inline-block');
                                        res.error.map(x => {
                                            $('.form-input input[name=' + x.key + ']').siblings('.help-block').html('');
                                            $('.form-input input[name=' + x.key + ']').siblings('.help-block').append(x.value);
                                        })
                                    }
                                }
                            },
                            error: function (error) {

                            },
                            complete: function () {
                            }
                        })
                    }
                })
            }
        }
    </script>
}