@model ClothesStore.Model.ModelView.ProductAndProductConfigModelView
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="single_top">
    <div class="container">
        <div class="single_grid">
            <input type="hidden" id="Id" name="Id" value="@Model.product.Id" />
            <!--load product detail here-->
            <div class="grid images_3_of_2">
                <ul id="etalage">
                    <li>
                        <a href="#">
                            <img class="etalage_thumb_image img-responsive" src="@Model.product.Image" />
                            <img class="etalage_source_image" src="@Model.product.Image" title="@Model.product.Slug" />
                        </a>
                    </li>
                    @foreach (var item in Model.images)
                    {
                        <li>
                            <a href="#">
                                <img class="etalage_thumb_image img-responsive" src="@item.Image" />
                                <img class="etalage_source_image" src="@item.Image" title="anh-san-pham" />
                            </a>
                        </li>
                    }
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="desc1 span_3_of_2 product_config">

                <!--load product config here-->


                <ul class="back">
                    <li><i class="back_arrow"> </i>Back to <a href="index.html">Men's Clothing</a></li>
                </ul>
                <h1>@Model.product.Name</h1>
                <p>@Model.product.Description</p>
                <div class="dropdown_top">
                    <div id="product_size" class="dropdown_left">
                        <select class="dropdown" tabindex="10" data-settings='{"wrapperClass":"metro1"}' onchange="ChooseSize(this)">
                            <option value="0">Chọn kích cỡ</option>
                            @foreach(var item in ViewBag.Size as IEnumerable<ClothesStore.Model.Model.EF.Size>)
                            {
                                <option value="@item.Id">@item.Name</option>
                            }
                        </select>
                    </div>

                    <div id="product_color" class="dropdown_left">
                        <select class="dropdown choose-color" tabindex="10" data-settings='{"wrapperClass":"metro1"}' onchange="SetPrice(this)">
                            <option value="0">Chọn màu sản phẩm</option>
                            @*<li><a href="#"> <span class="color1"> </span></a></li>*@
                        </select>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="simpleCart_shelfItem">
                    <div class="price_single">
                        <div class="head"><h2><span class="amount item_price">@(Model.configs.First() != null? Model.configs.First().Price:0)</span></h2></div>
                        @*<div class="head_desc"><a href="#">12 reviews</a><img src="images/review.png" alt="" /></div>*@
                        <div class="clearfix"></div>
                    </div>
                    <!--<div class="single_but"><a href="" class="item_add btn_3" value=""></a></div>-->
                    <div class="size_2-right"><a href="/Product/AddToCart?@Model.product.Id" class="item_add item_add1 btn_5" value="">Add to Cart </a></div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="single_social_top">
            <ul class="single_social">
                <li><a href="#"> <i class="s_fb"> </i> <div class="social_desc">Share<br> on facebook</div><div class="clearfix"> </div></a></li>
                <li><a href="#"> <i class="s_twt"> </i> <div class="social_desc">Tweet<br> this product</div><div class="clearfix"> </div></a></li>
                <li><a href="#"> <i class="s_google"> </i><div class="social_desc">Google+<br> this product</div><div class="clearfix"> </div></a></li>
                <li class="last"><a href="#"> <i class="s_email"> </i><div class="social_desc">Email<br> a Friend</div><div class="clearfix"> </div></a></li>
            </ul>
        </div>
        <div class="content">
            @Html.Raw(Model.product.Content)
        </div>
        @*<ul class="menu_drop">
            <li class="item1">
                <a href="#"><img src="/client/images/product_arrow.png">Description</a>
                <ul>
                    <li class="subitem1"><a href="#">@Model.product.Description</a></li>
                </ul>
            </li>

        </ul>*@
    </div>


    <h3 class="m_2">Related Products</h3>
    <div class="container">
        <div class="box_3">
            @foreach (var item in ViewBag.RelatedPro as List<ClothesStore.Model.ModelView.ProductAndProductConfigModelView>)
            {
                <div class="col-md-3">
                    <div class="content_box">
                        <a href="single.html">
                            <img src="@item.product.Image" class="img-responsive" alt="@item.product.Name">
                        </a>
                    </div>
                    <h4><a href="/Product/">@item.product.Name</a></h4>
                    @foreach (var configPro in item.configs.OrderByDescending(x => x.Id))
                    {
                        <p>@configPro.Price</p>
                    }

                </div>
            }
            <div class="clearfix"> </div>
        </div>
    </div>
</div>


@section script{
    <link rel="stylesheet" href="~/client/css/etalage.css">
    <script src="~/client/js/jquery.etalage.min.js"></script>

    <!--my script-->
    <script>
        function ChooseSize(el) {
            let sizeId = $(el).val();
            let productId = $('#Id').val();
            if (sizeId > 0) {
                $.ajax({
                    url: '/Product/GetColor',
                    dataType: 'json',
                    type: 'post',
                    data: {
                        productId: productId,
                        sizeId: sizeId
                    },
                    success: function (res) {
                        console.log(res);
                        let row = `<option value="0" data-price="0">Chọn màu sản phẩm</option>`;
                        $(res).each(function (index, item) {
                            row += `<option value="${item.color.id}" data-price="${item.price}">${item.color.name}</option>`
                        })
                        $('.choose-color').html('');
                        $('.choose-color').append(row);
                    }
                })
            }
        }

        function SetPrice(el) {
            let price = $(el).children('option:selected').attr('data-price');
            $('.item_price').html('');
            $('.item_price').append(price);
        }
    </script>

    <script>
        jQuery(document).ready(function ($) {

            $('#etalage').etalage({
                thumb_image_width: 300,
                thumb_image_height: 400,
                source_image_width: 900,
                source_image_height: 1200,
                show_hint: true,
                click_callback: function (image_anchor, instance_id) {
                    @*alert('Callback example:\nYou clicked on an image with the anchor: "' + image_anchor + '"\n(in Etalage instance: "' + instance_id + '")');*@
                }
            });

        });
    </script>
    <!--initiate accordion-->
    <script type="text/javascript">

        $(function () {

            var menu_ul = $('.menu_drop > li > ul'),
                menu_a = $('.menu_drop > li > a');

            menu_ul.hide();

            menu_a.click(function (e) {
                e.preventDefault();
                if (!$(this).hasClass('active')) {
                    menu_a.removeClass('active');
                    menu_ul.filter(':visible').slideUp('normal');
                    $(this).addClass('active').next().stop(true, true).slideDown('normal');
                } else {
                    $(this).removeClass('active');
                    $(this).next().stop(true, true).slideUp('normal');
                }
            });

        });
    </script>
}

