@model ClothesStore.Model.ModelView.ResponseData<ClothesStore.Model.ModelView.OrderModelView>
<table class="table table-hover table-hover bg-white">
    <thead class="table">
        <tr>
            <th data-name="Name" data-sort="@Model.IsAsc" data-order="@Model.OrderBy">
                <i class="bi bi-arrow-down-up"></i> Mã đơn hàng
            </th>
            <th data-name="Name" data-sort="@Model.IsAsc" data-order="@Model.OrderBy">
                <i class="bi bi-arrow-down-up"></i> Tên nhân viên
            </th>
            <th data-name="CategoryId" data-sort="@Model.IsAsc" data-order="@Model.OrderBy">
                <i class="bi bi-arrow-down-up"></i> Khách hàng
            </th>
            <th data-name="BrandId" data-sort="@Model.IsAsc" data-order="@Model.OrderBy">
                <i class="bi bi-arrow-down-up"></i> Địa chỉ
            </th>
            <th class="width-120">Trạng Thái</th>
            <th class="width-150">Tác Vụ</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model.Data)
        {
            <tr>
                <td>@item.order.Id</td>
                <td> @item.employee.Name</td>
                <td>@item.customer.Name - @item.customer.Phone</td>
                <td>@item.order.Address</td>
                <td>
                    @if (item.order.Status == true)
                    {
                        <span class="badge badge-success">Hoạt động</span>
                    }
                    else
                    {
                        <span class="badge badge-danger">Tạm khóa</span>
                    }
                </td>
                <td class="width-150">
                    <button class=" btn btn-sm btn-square btn-info"><i class="bi bi-info-circle"></i></button>
                    <button class=" btn btn-sm btn-square btn-warning text-white" onclick="location.href = '/Admin/Order/Edit/'+@item.order.Id"><i class="bi bi-calendar2-event"></i></button>
                    <button class=" btn btn-sm btn-square btn-danger" onclick="DeleteById('/Admin/Order/DeleteById',@item.order.Id)"><i class="bi bi-trash"></i></button>
                </td>
            </tr>
        }
    </tbody>
</table>

<ul class="pagination justify-content-end">
    @if (Model.PageCount <= 4)
    {
        for (int index = 1; index <= Model.PageCount; index++)
        {
            if (index == Model.PageNumber)
            {
                <li class="page-item active"><a class="page-link" data-index="@index">@index</a></li>
            }
            else
            {
                <li class="page-item"><a class="page-link" data-index="@index">@index</a></li>
            }
        }
    }
    else
    {
        if (Model.PageNumber <= 2)
        {
            for (int index = 1; index <= 4; index++)
            {
                if (index == Model.PageNumber)
                {
                    <li class="page-item active"><a class="page-link" data-index="@index">@index</a></li>
                }
                else
                {
                    <li class="page-item"><a class="page-link" data-index="@index">@index</a></li>
                }
            }
            <li class="page-item"><a class="page-link nextPage" data-index="@Model.PageCount">Next</a></li>
        }
        else if (Model.PageNumber >= Model.PageCount - 2)
        {
            <li class="page-item"><a class="page-link prevPage" data-index="1">Prev</a></li>

            for (int index = Model.PageCount - 3; index <= Model.PageCount; index++)
            {
                if (index == Model.PageNumber)
                {
                    <li class="page-item active"><a class="page-link" data-index="@index">@index</a></li>
                }
                else
                {
                    <li class="page-item"><a class="page-link" data-index="@index">@index</a></li>
                }
            }
        }
        else
        {
            <li><a class="page-link prevPage" data-index="1">Prev</a></li>
            for (int index = Model.PageNumber - 1; index <= Model.PageNumber + 2; index++)
            {
                if (index == Model.PageNumber)
                {
                    <li class="page-item active"><a class="page-link" data-index="@index">@index</a></li>
                }
                else
                {
                    <li class="page-item"><a class="page-link" data-index="@index">@index</a></li>
                }
            }
            <li class="page-item"><a class="page-link nextPage" data-index="@Model.PageCount">Next</a></li>
        }
    }
</ul>
