@model ClothesStore.Model.ModelView.ViewDetailObject<ClothesStore.Model.Model.EF.Customer>
<form class="form-input">
    <div class="row">
        <div class="col-md-9 row">
            <div class="form-group col-md-6">
                <input type="hidden" name="Id" id="Id" value="0">
                <label class="col-form-label">Họ và tên</label>
                <div>
                    <input class="form-control validation" type="text" name="Name" value="@Model.obj.Name" >
                    <span class="help-block"></span>
                </div>
            </div>

            <div class="form-group col-md-6">
                <label class="col-form-label" for="text-input">Nhập số điện thoại</label>
                <div>
                    <input class="form-control validation" type="text" name="Phone" value="@Model.obj.Phone">
                    <span class="help-block">This is a help text</span>
                </div>
            </div>

            <div class="form-group col-md-6">
                <label class="col-form-label" for="text-input">Người tạo</label>
                <div>
                    <input class="form-control validation" type="text" name="Phone" value="@Model.CreatedBy" >
                    <span class="help-block">This is a help text</span>
                </div>
            </div>

            <div class="form-group col-md-6">
                <label class="col-form-label" for="text-input">Ngày tạo</label>
                <div>
                    <input class="form-control validation" type="text" name="Phone" value="@Model.obj.CreatedDate" >
                    <span class="help-block">This is a help text</span>
                </div>
            </div>

            <div class="form-group col-md-6">
                <label class="col-form-label" for="text-input">Người cập nhật</label>
                <div>
                    <input class="form-control validation" type="text" name="Phone" value="@Model.UpdatedBy" >
                    <span class="help-block">This is a help text</span>
                </div>
            </div>

            <div class="form-group col-md-6">
                <label class="col-form-label" for="text-input">Ngày cập nhật</label>
                <div>
                    <input class="form-control validation" type="text" name="Phone" value="@Model.obj.UpdatedDate">
                    <span class="help-block">This is a help text</span>
                </div>
            </div>

            <div class="form-group col-md-12">
                <label class="col-form-label" for="text-input">Email</label>
                <div>
                    <input class="form-control validation" type="email" name="Email" value="@Model.obj.Email">
                    <span class="help-block">This is a help text</span>
                </div>
            </div>



            <div class="form-group col-md-12">
                <label class="col-form-label" for="text-input">Địa chỉ</label>
                <div>
                    <input class="form-control validation" type="text" name="Address" value="@Model.obj.Address" >
                    <span class="help-block">This is a help text</span>
                </div>
            </div>



            <div class="form-group col-md-12">
                <label class="col-form-label" for="text-input">Trạng thái</label>
                <div>
                    <input id="Active" type="radio" name="Status" value="True" @if (Model.obj.Status == true) { <text> checked</text> } />
                    <label class="col-form-label" for="Active">Hoạt động</label>
                    <input class="ml-2" id="Lock" type="radio" name="Status" value="False" @if (Model.obj.Status != true) { <text> checked</text> } />
                    <label class="col-form-label" for="Lock">Khóa</label>
                </div>
            </div>
        </div>

    </div>
</form>