@model ClothesStore.Model.Model.EF.Employee
@if (Model == null)
{
    <form class="form-input">
        <div class="row">
            <div class="col-md-9 row">

                <div class="form-group col-md-4">
                    <input type="hidden" name="Name" id="Name" value="0">
                    <label class="col-form-label">Họ tên</label>
                    <div>
                        <input class="form-control validation" type="text" id="Name" name="Name" placeholder="Nhập họ và tên">
                        <span class="help-block"></span>
                    </div>
                </div>

                <div class="form-group col-md-4">
                    <label class="col-form-label">Mật khẩu</label>
                    <div>
                        <input class="form-control validation" id="Password" type="text" name="Password" placeholder="Nhập mật khẩu">
                        <span class="help-block"></span>
                    </div>
                </div>

                <div class="form-group col-md-4">
                    <label class="col-form-label">Ngày sinh</label>
                    <div>
                        <input class="form-control validation" id="BirthDay" type="date" name="BirthDay" placeholder="Nhập ngày sinh">
                        <span class="help-block"></span>
                    </div>
                </div>

                <div class="form-group col-md-4">
                    <input type="hidden" name="IdCard" id="IdCard" value="0">
                    <label class="col-form-label">Số CCCD</label>
                    <div>
                        <input class="form-control validation" type="number" id="IdCard" name="IdCard" placeholder="Nhập số CCCD">
                        <span class="help-block"></span>
                    </div>
                </div>

                <div class="form-group col-md-4">
                    <input type="hidden" name="Phone" id="Phone" value="0">
                    <label class="col-form-label">Số điện thoại</label>
                    <div>
                        <input class="form-control validation" type="number" id="Phone" name="Phone" placeholder="Nhập số điện thoại">
                        <span class="help-block"></span>
                    </div>
                </div>

                <div class="form-group col-md-4">
                    <label class="col-form-label">Email</label>
                    <div>
                        <input class="form-control validation" id="Email" type="email" name="Email" placeholder="Nhập Email">
                        <span class="help-block"></span>
                    </div>
                </div>

                <div class="form-group col-md-12">
                    <label class="col-form-label">Địa chỉ</label>
                    <div>
                        <input class="form-control validation" type="text" name="Address" placeholder="Nhập địa chỉ">
                        <span class="help-block"></span>
                    </div>
                </div>

                <div class="form-group col-md-12">
                    <label class="col-form-label">Ghi chú</label>
                    <div>
                        <textarea class="form-control" name="Note"></textarea>
                        <span class="help-block"></span>
                    </div>
                </div>

                <div class="form-group col-md-12">
                    <label class="col-form-label" for="text-input">Trạng thái</label>
                    <div>
                        <input id="Active" type="radio" name="Status" value="True" checked />
                        <label class="col-form-label" for="Active">Hoạt động</label>
                        <input class="ml-2" id="Lock" type="radio" name="Status" value="False" />
                        <label class="col-form-label" for="Lock">Khóa</label>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <img src="/Image/Static/avatar.jpg" alt="Alternate Text" class="w-100 show-image" style="object-fit:contain" onclick="OpenFolderImage()" />
                <input type="text" name="Avatar" value="/Image/Static/avatar.jpg" hidden id="Image" />
            </div>
        </div>
    </form>
}
else
{
    <form class="form-input">
        <div class="row">
            <div class="col-md-9 row">
                <div class="form-group col-md-6">
                    <input type="hidden" name="Id" id="Id" value="@Model.Id">
                    <label class="col-form-label">Mã nhân viên</label>
                    <div>
                        <input class="form-control validation" type="text" id="Name" value="@Model.Name" name="Name" placeholder="Nhập họ và tên">
                        <span class="help-block"></span>
                    </div>
                </div>

                <div class="form-group col-md-6">
                    <label class="col-form-label">IdCard</label>
                    <div>
                        <input class="form-control validation" id="IdCard" type="text" name="IdCard" value="@Model.IdCard" placeholder="IdCard">
                        <span class="help-block"></span>
                    </div>
                </div>

                <div class="form-group col-md-12">
                    <label class="col-form-label">Địa chỉ</label>
                    <div>
                        <input class="form-control validation" type="text" value="@Model.Address" name="Address" placeholder="Nhập địa chỉ">
                        <span class="help-block"></span>
                    </div>
                </div>

                <div class="form-group col-md-12">
                    <label class="col-form-label">Số điện thoại</label>
                    <div>
                        <textarea class="form-control" name="Phone">@Model.Phone</textarea>
                        <span class="help-block"></span>
                    </div>
                </div>

                <div class="form-group col-md-12">
                    <label class="col-form-label" for="text-input">Trạng thái</label>
                    <div>
                        <input id="Active" type="radio" name="Status" value="True" @if (Model.Status == true) { <text> checked</text> } />
                        <label class="col-form-label" for="Active">Hoạt động</label>
                        <input class="ml-2" id="Lock" type="radio" name="Status" value="False" @if (Model.Status != true) { <text> checked</text> } />
                        <label class="col-form-label" for="Lock">Khóa</label>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <img src="@Model.Avatar" alt="Alternate Text" class="w-100 show-image" style="object-fit:contain" onclick="OpenFolderImage()" />
                <input type="text" name="Avatar" value="@Model.Avatar" hidden id="Image" />
            </div>
        </div>
    </form>
}